{% extends 'base.html.twig' %}

{% block body %}
	<!-- Breadcrumb Begin -->
	<div class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__links">
						<a href="{{ path('app_home') }}">
							<i class="fa fa-home"></i>
							Home
						</a>
						<span>Shopping cart</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<!-- Shop Cart Section Begin -->
	<section class="shop-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="shop__cart__table">
						<table>
							<thead>
								<tr>
									<th>Product</th>
									{# <th>Price</th> #}
									<th>Etat</th>
									<th>Total</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for announcement in announcements %}
									<tr>
										<td class="cart__product__item">
											<img src="{{ asset('uploads/images/' ~ announcement.images[0]) }}" alt="{{ announcement.title }}" style="max-width: 100px; max-height: 100px;">
											<div class="cart__product__item__title" style="padding-top: 40px">
												<h6>{{ announcement.title }}</h6>
												<!-- Affichez d'autres détails de l'annonce ici -->
											</div>
										</td>
										{# <td class="cart__price">$
																																																																							{{ announcement.price }}</td> #}
										<td class="cart__quantity">
											{{announcement.state.name}}
										</td>
										<td class="cart__price">
											{{ announcement.price }}
											€</td>
										<td class="cart__close">
											<span class="icon_close"></span>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="cart__btn">
						<a href="{{ path('app_announcements') }}">Continue Shopping</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="cart__btn update__btn">
						<a href="#">
							<span class="icon_loading"></span>
							Update cart
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="discount__content">
						<h6>Discount codes</h6>
						<form action="#">
							<input type="text" placeholder="Enter your coupon code">
							<button type="submit" class="site-btn">Apply</button>
						</form>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-2">
					<div class="cart__total__procced">
						<h6>Cart total</h6>
						<ul>
							<li>Subtotal
								<span>
									{{ cartTotal }}
									€</span>
							</li>
						</li>
						<li>Total
							<span>
								{{ cartTotal }}
								€</span>
						</li>
					</li>
				</ul>
				{# <a href="{{ path('app_checkout') }}" class="primary-btn">Proceed to checkout</a> #}
			</div>
		</div>
	</div>
</div></section><!-- Shop Cart Section End -->{% endblock %}
