{% extends 'base.html.twig' %}

{% block title %}Créer une annonce
{% endblock %}

{% block body %}
	{# templates/announcement/create.html.twig #}

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h1>Créer une annonce</h1>
					</div>
					<div class="card-body">
						{{ form_start(form, {'attr': {'class': 'form'}}) }}


						{{ form_widget(form) }}

						<div class="text-center mt-4">
							<button type="submit" class="btn btn-primary">Créer</button>
						</div>

						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function () {
$('.category-select').select2();
});
$('.game-select').select2({
ajax: {
url: '/search-games',
dataType: 'json',
delay: 250,
processResults: function (data) {
return {
results: data.map(function (game) {
return {id: game, text: game};
})
};
},
cache: true
},
minimumInputLength: 3
});
	</script>
{% endblock %}
