{% extends 'base.html.twig' %}

{% block title %}Créer une annonce
{% endblock %}

{% block body %}
	{# templates/announcement/create.html.twig #}

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h1>Créer une annonce</h1>
					</div>
					<div class="card-body">
						{{ form_start(form, {'attr': {'class': 'form', 'enctype': 'multipart/form-data'}}) }}

						{{ form_row(form.title) }}
						{{ form_row(form.description) }}
						{{ form_row(form.price) }}
						{{ form_row(form.state) }}
						{{ form_row(form.platform) }}
						{{ form_row(form.category) }}

						<fieldset class="mb-3">
							<legend class="col-form-label required">Images</legend>
							<div
								id="announcement_images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
								{# Affichez les images existantes #}
								{% for imageForm in form.images %}
									<div class="mb-3">
										{{ form_row(imageForm, {'label': false}) }}
									</div>
								{% endfor %}
							</div>
							<small class="text-muted">Maximum 3 images sont autorisées.</small>
						</fieldset>


						<button type="button" class="btn btn-primary" id="add-image-button">Ajouter une image</button>

						<div class="text-center mt-4">
							<button type="submit" class="btn btn-primary">Créer</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function () {
$('.category-select').select2();
});
$('.game-select').select2({
ajax: {
url: '/search-games',
dataType: 'json',
delay: 250,
processResults: function (data) {
return {
results: data.map(function (game) {
return {id: game, text: game};
})
};
},
cache: true
},
minimumInputLength: 3
});

$(document).ready(function () {
$('#add-image-button').click(function (e) {
e.preventDefault();
var prototype = $('#announcement_images').data('prototype');
var index = $('#announcement_images').find(':input').length;

if (index < 3) {
var newForm = prototype.replace(/__name__/g, index);
$('#announcement_images').append(newForm);

// Vérifiez si le nombre d'images atteint 3 et désactive le bouton si c'est le cas
if (index + 1 === 3) {
$('#add-image-button').attr('disabled', 'disabled');
}
} else {
alert('Maximum 3 images sont autorisées.');
}
});
});
	</script>
{% endblock %}
